*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.mo
*.pyc
*.pyo
*.tmp*
.bzr
.hg
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.svn
Products/PloneSoftwareCenter/locales/rebuild_i18n.log
bin
build
develop-eggs
dist
downloads
eggs
fake-eggs
parts
src/
var/
