[buildout]
extensions = buildout.bootstrap
parts =
    zopepy
    plone
    test
extends = http://dist.plone.org/release/4.0.2/versions.cfg
versions = versions
develop = .

[plone]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Pillow
    Plone
    Products.PloneSoftwareCenter

zcml = 
    Products.PloneSoftwareCenter
    Products.ArchAddOn
    plone.contentratings
zope-conf-additional =
    <environment>
        DISABLE_PTS 1
    </environment>

[zopepy]
recipe = zc.recipe.egg
eggs = ${plone:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs = ${plone:eggs}

