[buildout]
extends = buildout.cfg
extensions = mr.developer
auto-checkout =
    Products.ExternalStorage
    Products.PloneHelpCenter
    Products.PloneSoftwareCenter
    collective.psc.blobstorage
    collective.psc.externalstorage
    collective.psc.mirroring

[sources]
Products.ExternalStorage = svn https://svn.plone.org/svn/collective/Products.ExternalStorage/trunk
Products.PloneHelpCenter = svn https://svn.plone.org/svn/collective/Products.PloneHelpCenter/trunk
Products.PloneSoftwareCenter = svn https://svn.plone.org/svn/collective/Products.PloneSoftwareCenter/trunk
collective.psc.blobstorage = svn https://svn.plone.org/svn/collective/collective.psc.blobstorage/trunk
collective.psc.externalstorage = svn https://svn.plone.org/svn/collective/collective.psc.externalstorage/trunk
collective.psc.mirroring = svn https://svn.plone.org/svn/collective/collective.psc.mirroring/trunk

[plone]
debug-mode = on
verbose-security = on
eggs +=
    Products.DocFinderTab
    Products.PDBDebugMode
    Products.PTProfiler
    Products.FSDump

# The tests require ES
    Products.ExternalStorage
